@mixin style-desk-navbar($color1, $color2) {
    position: relative;
    display: block;
    margin: 0 1.5rem;
    font: 700 2.2rem Raleway;
    text-decoration: none;
    -webkit-text-stroke: .2rem $color1;
    background: linear-gradient($color2 0 100%) left / 0 no-repeat;
    color: transparent;
    background-clip: text;
    transition: 0.5s linear;
}

.desk-nav {
    position: fixed;
    z-index: 800;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
    transition: 0.6s;
    margin-top: 2rem;

    .logo-cook {
        height: 9vh;
        filter: grayscale(0.7);
    }

    .desk-nav-ul {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;

        li {
            position: relative;
            list-style-type: none;

            .a-link {
                @include style-desk-navbar($fill-color-dark, $fill-color-dark);

                &:hover {
                    background-size: 100%;
                }
            }
        }
    }
}

.desk-nav ul li .link-item {
    @include style-desk-navbar($fill-color-title, $fill-color-mobile);

    &:hover {
        background-size: 100%;
    }
}

.desk-nav.sticky ul li .a-link {
    color: $fill-color-dark;
}

.desk-nav.sticky {
    margin-top: 0;
}

@include mobile {
    .desk-nav {
        display: none;
    }
}