.logo-b {
    height: 10vh;
    filter: grayscale(0.3);
}

.desk-nav {
    position: fixed;
    z-index: 800;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;

    .d-logo {
        position: relative;
        text-decoration: none;
        transition: 0.6s;
    }

    .desk-nav-ul {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;

        li {
            position: relative;
            list-style-type: none;

            .a-link {
                position: relative;
                margin: 0 15px;
                text-decoration: none;
                color: rgb(240, 222, 222);
                letter-spacing: 1px;
                transition: 0.7s;
                font-family: "Raleway";
                font-size: 1.5rem;

            }
        }
    }
}

.link-item {
    --fill-color: #d380e3;
    position: relative;
    display: block;
    margin: 0 15px;
    font: 700 1.8rem Raleway;
    text-decoration: none;
    /* text-transform: lowercase; */
    -webkit-text-stroke: 2px var(--fill-color);
    background: linear-gradient(var(--fill-color) 0 100%) left / 0 no-repeat;
    color: transparent;
    background-clip: text;
    transition: 0.5s linear;
}

.link-item:hover {
    background-size: 100%;
}

.desk-nav.sticky ul li .a-link {
    color: #000;
}

.banner {
    position: relative;
    width: 100%;
}


@include mobile {
    .desk-nav {
        display: none;
    }
}