$background-color: linear-gradient(to right, #0f2027, #203a43, #2c5364);
@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300&display=swap");

.searchby__container {
    height: 70vh;
    width: auto;
    background-color: $background-color-main;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    div {

        padding: 12rem;
        background-color: #100b17dd;
        height: 50%;
        border-radius: 1.2rem;
        font-size: 2.8rem;
        font-family: "Kalam";
        display: flex;
        align-items: center;

    }
}

.random-rotate__cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 0rem;
    padding: 1rem;
    background-color: #ccccccd7;
}

.card-recipe {
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 1rem 1rem 2rem;
    background: #f8f3e8;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2), 0 0 40px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    font-family: "Kalam";

    img {
        width: 100%;
        height: auto;
        aspect-ratio: 600/300;
    }

    &:hover {
        border-right: 5px dotted rgb(195, 110, 195);
        border-bottom: 5px dotted purple;
        z-index: 100;
    }
}

.card-title {

    margin-top: 1rem;
    font-weight: normal;
    font-size: 2.1rem;
    color: #3d0b50;


}




.missing-ingredients-div {
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    width: 90%;
    background-color: white;
    padding: 1.5rem;
    border-radius: .9rem;

}

.missedIngredientDiv {}

.img-ingredient {
    width: 100%;
}

// .card-recipe {
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
//     width: 30rem;
//     // height: 69rem !important;
//     overflow: auto;
//     background: $background-color !important;
//     border-radius: 1rem !important;
//     // border: 5px solid whitesmoke !important;
//     box-shadow: 0 0 1rem whitesmoke;
// }

// .card-title {
//     font-family: $titlefont;
//     font-size: 2.5rem;
//     letter-spacing: .1rem;
// }

.card-body {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
}

.wrapper-missing-ingredient {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.8rem;

}

.wrapper-btn {
    padding: 2.5rem;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.bi-trash-fill {
    font-size: 2.5rem !important;
    color: rgb(255, 241, 241);
    padding: 2rem;
}

.btn-full-recipe {
    border: .3rem solid purple;
    background-color: rgb(228, 135, 225);
    padding: 1rem .5rem;
    border-radius: .8rem;
    display: flex;
    flex: 1;
    font-size: 1.6rem;
    font-family: $basefont;
}

.delete-btn {
    border: .3rem solid purple;
    background-color: rgb(228, 135, 225);
    padding: 1rem 3rem;
    font-size: 2.5rem;
    border-radius: .8rem;
}

.input-search-recipe {
    border: .3rem solid purple;
    border-radius: .8rem;
    padding: .7rem;
    width: 30vw;
    font-size: 2rem;
    margin-bottom: .8rem;
    font-family: "Kalam";
}

.wrapper-search-reacipe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
    font-family: "Kalam";
    background-color: $background-color-main;
    width: 50vw;
    border-radius: .9rem;
    margin: 0 auto;
    padding: 4rem;

    h1 {
        font-weight: bolder;
        font-size: 3rem;
        color: aliceblue;
    }
}

.nutrients-types {
    width: 60rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.input-form {
    font-size: 1.8rem;
}

.btn-search {
    display: flex;
    width: 60rem;
    height: 8rem;
    border-radius: 1rem !important;
    box-shadow: 0 1rem 1.5rem rgb(22, 3, 3);
    font-size: 3rem !important;
    font-family: $titlefont !important;
    letter-spacing: .8rem;
}

.input-form {
    width: 30rem;
}

.prod-list-wrapper {
    display: flex;
    padding: 1rem;
    border-radius: .9rem;
    text-align: center;
    justify-content: center;
    margin-bottom: 2rem;
    width: 90%;
    flex-wrap: wrap;
}

.bi-trash3-fill {
    font-size: 1.3rem !important
}

.prod-item-li {
    font-size: 1.8rem;
    display: flex;
    justify-content: space-between;
    padding: .6rem;
    font-family: $titlefont;
    letter-spacing: .07rem;
    gap: .5rem;
    border-right: 3px solid purple;

}

.nutrient-div {
    font-size: 1.7rem;
    font-family: $basefont;
}

.Toastify__toast-body {
    font-size: 1.7rem;
}

.Toastify__toast--error {
    border: 1px solid #994242;
    border-radius: 50px !important;
}


.bi-star-fill {
    font-size: 4rem !important;
}

.noresult-div,
.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 3rem;
}

.noresult-div h4 {
    font-family: $basefont;
    font-size: 1.5rem;
    color: red;
}

.loading p {
    font-size: 2.5rem;
    font-family: $titlefont;
    letter-spacing: .2rem;
}



.text-danger {
    font-size: 1.8rem;
    font-family: $basefont;
    font-weight: bolder;
}

.logo-img {
    margin: 0 auto;
    width: 60rem;

}

.image {
    width: 100%;
    border-radius: 50%;
}

@include mobile {

    .random-rotate__cards-container {
        background-color: transparent;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        gap: 2.5rem;
        margin: 0 auto;
        // position: absolute;
        // left: 0;
        width: 100%;

    }

    .nutrients-types {
        width: 40rem;
    }

    .input-form {
        width: 20rem;
    }

    .btn-search {
        width: 40rem;
    }



    .card-recipe {
        width: 100%;
        border-bottom: 3px dotted purple !important;
        transform: none !important;
    }


    .input-search-recipe {
        width: 90vw;
        text-align: center;
    }

    .prod-list-wrapper {
        display: flex;
        gap: 1.5rem;
    }

    .prod-item-li {
        font-size: 2rem;
        padding: .5rem;
    }

    // .Toastify__toast--error {
    //     font-size: 2rem;
    // }
    .Toastify__toast-body {
        font-size: 2rem;
    }

    .noresult-div h4 {
        font-size: 2rem;
    }

    .img-ingredient {
        width: 10rem !important;
    }

    .wrapper-missing-ingredient h4 {
        font-size: 2.5rem;

    }

    .bi-star-fill {
        font-size: 6.5rem !important;
    }

    .bi-heart-fill {
        font-size: 4rem !important;
    }

    .btn-full-recipe {
        font-size: 2.9rem;
        padding: 2rem 2.5rem;
        font-family: $titlefont;
        letter-spacing: .1rem;
    }

    .card-title {
        font-size: 3.9rem;
    }

    .bi-trash-fill {
        font-size: 3rem !important;
    }

    .logo-img {
        width: 30rem;
    }

    .searchby__container {
        height: 40vh;

        div {

            padding: 2rem;
            height: 30%;
            font-size: 2rem;
        }
    }

    .wrapper-search-reacipe {
        width: 100vw;
    }
}