// @import url('https://fonts.googleapis.com/css2?family=Belleza&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Ranchers&display=swap');




$background-color-main: rgba(12, 10, 21, 0.666);
$fill-color: rgb(242, 239, 245);
$fill-color-mobile: rgb(237, 125, 237);
$fill-color-title-scroll: rgb(158, 85, 156);
$fill-color-title: rgb(146, 124, 146);
$fill-color-dark: rgb(55, 52, 52);
$fill-dd: #cda99dd6;
$titlefont: 'Ranchers';
$basefont: 'Lato';
// $basefont: 'Raleway';

// <div className="backery__div"><img src= {
//     require("../images/background-bakery1.jpg")
// }

// alt="vegtabales image"
// className="backery__image"
// />
// </div>



// $bgc:#fdf8e5;
// $color:hotpink;
// $basefont:'Roboto';

@mixin big-desktop {
    @media (min-width:2560px) {
        @content;
    }
}

@mixin desktop {
    @media (min-width:576px) {
        @content;
    }
}

@mixin mobile {
    @media (max-width:575px) {
        @content;
    }
}

@mixin tablet {
    @media (max-width:1400px) {
        @content;
    }
}

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;600&display=swap');

$background-color: linear-gradient(to right, #51334d, #1b1828);
$back: linear-gradient(to right, #2c3e50, #fd746c);
$back1: linear-gradient(to right, #536976, #292e49);

@mixin title-font-defenition {
    font-family: $titlefont;
    letter-spacing: 0.1rem;
}