@import url('https://fonts.googleapis.com/css2?family=Belleza&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ranchers&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


$fill-color: rgb(13, 2, 22);
$fill-color-mobile: rgb(237, 125, 237);
$titlefont: 'Ranchers';
$basefont: 'Raleway';




// $bgc:#fdf8e5;
// $color:hotpink;
// $basefont:'Roboto';


@mixin desktop {
    @media (min-width:576px) {
        @content;
    }
}

@mixin mobile {
    @media (max-width:575px) {
        @content;
    }
}

@mixin tablet {
    @media (max-width:1400px) {
        @content;
    }
}