// h1 {
//     color: rgb(31, 28, 28);
// }


html {
    font-size: 62.5%;
}

body {
    padding: 2rem;
    font-family: $basefont;
    background-image: url(../images/background-bakery3.jpg);
    background-repeat: no-repeat;
    background-position: top left;
    background-size: cover;
    background-attachment: fixed;
}

.header {
    height: 95vh;
    background-image: linear-gradient(to right bottom,
            hsla(294, 61%, 82%, 0.198),
            hsla(141, 69%, 14%, 0.805)),
        url(../images/background-bakery2.jpg);
    background-size: cover;
    background-position: top center;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 40vh, 0 100%);

    font-weight: 400;
    font-size: 2rem;
    line-height: 1.7;
    color: #777;
}

.logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
    text-align: center;
    padding: .5rem;

    img.logo {
        height: 5rem;
        animation: rotateLogo 1s ease-in-out;
    }
}

.bless-user-div {
    padding: 1rem;


    h3 {
        color: rgb(193, 187, 187);
        animation: moveInLeft 1s ease-in-out 1s;
        animation-fill-mode: backwards;
        font-family: $titlefont;
        letter-spacing: .2rem;
    }
}



.text-box {
    position: absolute;
    top: 45%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);

    h1 {
        color: #fff;
        text-transform: uppercase;
        margin-bottom: 6rem;
        line-height: 1.7;

        span {
            display: block;

            &:first-child {
                font-size: 7rem;
                letter-spacing: 3.5rem;
                font-family: "Ranchers",
                    cursive;
                animation: moveInLeft 1s ease-out;
            }

            &:last-child {
                font-family: $basefont;
                font-size: 3rem;
                font-weight: 700;

                letter-spacing: 1.6rem;
                animation: moveInRight 1s ease-in;
            }
        }
    }
}


@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }

    80% {
        transform: translateX(1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }

    80% {
        transform: translateX(-1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes rotateLogo {
    0% {
        opacity: 0;
        transform: rotate(-15deg);
    }

    20% {
        transform: rotate(15deg);
    }

    40% {
        transform: rotate(-15deg);
    }

    60% {
        transform: rotate(15deg);
        transform: scale(1.5);
    }

    80% {
        transform: rotate(-15deg);
    }

    100% {
        opacity: 1;
    }
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(4rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

.btn-animation {
    animation: moveInBottom 1.2s ease-in 0.75s;
    animation-fill-mode: backwards;
}

.btn-index {
    text-transform: uppercase;
    padding: 1.5rem 4rem;
    border-radius: 1rem;
    transition: all 0.2s;
    position: relative;
    border: none;
    box-shadow: 0 .5rem 1rem rgba(244, 235, 235, 0.66);
}

.btn-index:hover {
    transform: translateY(-.3rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.66);
    color: #777;
}

.btn-white {
    background-color: #fff;
    color: #777;
}

.btn-index::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 1rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
}

.btn-white::after {
    background-color: #fff;
}

.btn-index:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

$back1:linear-gradient(to right, #536976, #292e49);


.page-header__container {
    background-color: $background-color-main;
    width: 100%;
}

.page-header {
    margin-top: 10rem;
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $titlefont;
    letter-spacing: .18rem;
    text-align: center;

    // transform: translateY(-20vh);

    img.cook-icon {
        display: flex;
        justify-content: left;
    }

    h1 {
        color: purple;
        font-size: 7rem;
        margin: 0;
        text-align: center;
        font-family: $titlefont;
        letter-spacing: 0.2rem;
        color: white;
        background: url(../images/bgc2.png);
        background-size: auto 200%;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: shine 6s linear infinite;


    }
}

@keyframes shine {
    from {
        background-position: center 0;
    }

    to {
        background-position: center 200%;
    }
}




.div-description {
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: $basefont;
    width: 40%;
    margin: 0 auto;
    margin-bottom: 7rem;
    // transform: translateY(-20vh);

    p {
        font-size: 2rem;
        color: aliceblue;
    }
}



.space-div {
    height: .5rem;
}



.input-common-form {

    width: 30vw;

    label {
        font-size: 2rem;
        background-color: rgba(240, 248, 255, 0.679);
    }

    input {
        padding: .9rem !important;
        font-size: 2rem !important;
        font-family: "Kalam";
    }

}

.common-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    align-items: center;
    margin-bottom: 10rem;
}

.btn-form-common {
    padding: 1.6rem !important;
    font-size: 1.9rem !important;
    font-family: $titlefont !important;
    letter-spacing: .2rem;
    border-radius: 1rem !important;
}

.links-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: $basefont;
    gap: 2rem;
    background-color: rgba(12, 10, 21, 0.666);
    width: 40%;
    padding: 3rem 1rem;
    margin: 0 auto;
    border-radius: 2rem;
}

.links-box div {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: antiquewhite;
}

.navlink {
    font-size: 1.8rem;
}

.alert-danger {
    font-size: 1.5rem !important;
}

.invalid-feedback {
    font-size: 1.6rem !important;
}


@include mobile {
    html {
        font-size: 42.5%;
    }

    body {
        padding: 0;
    }

    .header {
        clip-path: polygon(0 0, 100% 0, 100% 65vh, 0 100%);
    }

    .logo-box {
        position: fixed;
        top: 4rem;
        left: 65%;

        img.logo {
            animation: rotateLogo 1s ease-in-out 1.5s;
            animation-fill-mode: backwards;
        }

    }

    .input-common-form {
        width: 95vw;
        font-size: 2rem;
    }

    .btn-form-common {
        font-size: 2.1rem !important;
    }


    .alert-danger {
        font-size: 2rem !important;
    }

    .bless-user-div {
        padding: 1.5rem;


        h3 {
            font-size: 2rem;
        }
    }
}