.bi-arrow-up-circle-fill {
    position: fixed;
    top: 90%;
    right: 4rem;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    transition: 0.5s;
    // overflow: hidden;
    font-size: 3rem;
    color: purple;
    z-index: 9999999999999;
}