h1 {
    color: rgb(31, 28, 28);
}

.container-index {
    height: 100vh;
    width: 100%;
    background-color: rgb(18, 4, 29);
}

.header {
    height: 95vh;
    // background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8)), url("../images/expectrum.png");
}

.heading-primary-main {
    display: block;
    font-size: 100px;
    font-weight: "400";
    letter-spacing: 30px;
    font-family: 'Ranchers',
        cursive;
    animation: moveInLeft 2s;
    color: rgb(36, 6, 60);
    // color: rgb(113, 150, 107);
}

.heading-primary-sub {
    font-size: 40px;
    letter-spacing: 10px;
    font-family: "Raleway";
    font-weight: bolder;
    animation: moveInRight 2s ease-out;
}


.text-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    line-height: 1.7;
    // padding: 30px;
}

.page-header {
    margin-top: 100px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $titlefont;
    letter-spacing: 1.8px;
}

.page-header h1 {
    color: purple;
    font-size: 2.9rem;
}

.div-description {
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: $basefont;
}

.cook-icon {
    transform: translate(-5px, 10px);
    opacity: 0.8;
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    80% {
        transform: translateX(10px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(200px);
    }

    80% {
        transform: translate(-30px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }

}

.span-main-title {
    letter-spacing: 10px;
    color: rgb(100, 43, 62);

}

@include mobile {
    .heading-primary-main {
        font-size: 53px;
        letter-spacing: 2px;
    }

    .span-main-title {
        letter-spacing: 0;
    }

    .heading-primary-sub {
        font-size: 26px;
        letter-spacing: 0.5px;

    }
}